* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the entire app */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  background-image: url(https://images.pexels.com/photos/1209484/pexels-photo-1209484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .entry-form {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Container for the main content */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"],
button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}


.list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  size: 100%;
  
}


/* Responsive styles (optional) */
@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }
}

.results {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: rgb(14, 8, 1);
  background-color: rgb(245, 244, 247);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

button {
  background-color: rgb(7, 31, 56);
  color: aliceblue;
  width: 8vw;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border-color: black;
}

h1 {
  display: flex;
  text-align: left;
  justify-content: left;
  /* width: 30vw; */
  color: rgb(5, 5, 37);
  height: 7vh;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
 
  gap: 1rem;
  height: 75vh;
  width: 35vw;
  border-radius: 10px;
  
}

.dat {
  width: 30vw;
  height: 5vh;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  background-color: rgb(223, 218, 212);
}

.desc {
  width: 20vw;
  height: 10vh;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
}
